<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">So kannst du bei uns mitschrauben</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/treffen-vereinbaren.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Treffen vereinbaren</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Melde dich bei uns, wenn du Bock hast, Teil einer coolen Gemeinschaft zu werden und in der schönsten Halle Stuttgarts mitzuschrauben. Wir freuen uns auf deine Nachricht und vereinbaren ein Treffen! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/schrauberplatz-buchen.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading"> 
                                    <h4 class="subheading">Schrauberplatz buchen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An jedem Schrauberplatz findest du einen Pressluftanschluss, Starkstrom, Steckdosen und einen Spindschrank. Damit bist du optimal gerüstet für die Arbeit an deiner alten Karre.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/betreutes-schrauben.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Betreutes schrauben</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Du hast einen Oldtimer, den du aufrüsten möchtest? Wir beraten dich und erstellen gemeinsam einen Plan. Du entscheidest, ob du selbst Lust hast anzupacken oder wir die Restauration für dich übernehmen. In jedem Fall stehen wir dir mit Tipps, Tricks und unserem geballten Expertenwissen zur Seite.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted overwrite">
                                <div class="timeline-image-last ">
                                    <div class="center">
                                        <div id="hexagon">
                                            <a style="color:black" class="page-scroll" href="#contact">Kontakt</a>
                                        </div>
                                    </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>