<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container headerNav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="page-scroll" href="#page-top">
                    <img class="headerLogo" src="/img/logos/StK_Schriftzug_Logo.png" alt="Stuttkarre Seitenlogo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Wir bieten</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Wie funktionierts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Über uns</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news">News</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Schraubergemeinschaft<br>in Stuttgart</div>
                <div class="intro-heading">Wenn du auf der Suche nach einem Ort bist, um an deiner Karre zu schrauben und dabei im Austausch mit Gleichgesinnten zu bleiben ist die Stuttkarre genau das Richtige für dich.</div>
                <a href="#contact" class="page-scroll btn btn-xl">Mitschrauben</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

