<div class="page-content">
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>Maximilian Wolf<br />
    Stuttkarre<br />
    Tulpenstraße 41,<br />
    71394 Kernen im Remstal</p>

    <h2>Kontakt</h2>
    <p>Telefon: +49 173/2839408<br />
    E-Mail: info@stuttkarre.de</p>

    <h2>Redaktionell verantwortlich</h2>
    <p>Maximilian Wolf</p>

    <h2>EU-Streitschlichtung</h2>
    <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

    <h2>Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
</div>