<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Was wir anbieten</h2>
                    <h3 class="section-subheading text-muted">Damit Du alles machen kannst, was dein Herz begehrt.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Zwölf Schrauberplätze</h4>
                    <p class="text-muted">Bieten den perfekten Raum, um dich an deiner Karre auszutoben.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Drei Hebebühnen</h4>
                    <p class="text-muted">Geben dir die Möglichkeit, spielend leicht das Innenleben deiner Karre zu durchleuchten. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Küche & Aufenhaltsbereich</h4>
                    <p class="text-muted">Laden zu Schraubergesprächen und stärkenden Mahlzeiten ein.</p>
                </div>
            </div>
            <div class="sectionAccordion">
                <button class="accordion">Maschinen-/Werkzeug-/Geräteliste</button>
                <div class="panel">
                    <div class="accordionContent row">
                        <div class="col-md-6">
                            <ul>
                                <li>2 Hebebühnen (fest) (2-armig, 1-armig)</li>
                                <li> mobile Hebebühne</li>
                                <li> Montiermaschine</li>
                                <li> Wuchtmaschine</li>
                                <li> Achsvermessstand</li>
                                <li> 2x Kompressor 500l, 50l</li>
                                <li> 2x Standbohrmaschine</li>
                                <li> Sandstrahlbox</li>
                                <li> Schweißtisch (rollbar)</li>
                                <li> 2x Mig Mag Schweißgerät</li>
                                <li> Wig Tig Schweißgerät</li>
                                <li> Punktschweißgerät</li>
                                <li> Autogenschweißgerät</li>
                                <li> Beheizbares Reinigungsbecken</li>
                                <li> Ambos</li>
                                <li> Kantbank</li>
                                <li> große und kleine Werkbank</li>
                                <li> Ölkabinett</li>
                                <li> Ölhandpumpe</li>
                                <li> 5x Winkelschneider</li>
                                <li> 2x Bohrmaschine</li>
                                <li> diverse Akkuschrauber</li>
                                <li> Schlagbohrmaschine</li>
                                <li> diverses Pressluftwerkzeug</li>
                                <li> elektrischer Fuchsschwanz</li>
                                <li> Stichsäge</li>
                                <li> Kappsäge</li>
                                <li> Poliermaschine</li>
                                <li> Stabschleifer</li>
                                <li> Handschlagschrauber</li>
                                <li> Schleifgeräte</li>
                                <li> Multitool</li>
                                <li> Gleithammer</li>
                                <li> Tafelschere</li>
                            </ul>    
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li> diverses Messwerkzeug</li>
                                <li> Federzangen</li>
                                <li> Absetz- und Lochzangen</li>
                                <li> Trenngabeln</li>
                                <li> Abstreifwerkzeug</li>
                                <li> Federspanner</li>
                                <li> Sonderwerkzeug Mini</li>
                                <li> diverse Handstableuchten</li>
                                <li> pneumatischer Glätthammer</li>
                                <li> diverse Polierhämmer</li>
                                <li> Ausbeulwerkzeuge</li>
                                <li> 6x Wagenheber (max Hubhöhe 52cm)</li>
                                <li> Böcke</li>
                                <li> Auffahrrampen</li>
                                <li> Gripzangen</li>
                                <li> Motorkran</li>
                                <li> Motorbrücke</li>
                                <li> 2x großer Staubsauger</li>
                                <li> Handdampfreiniger</li>
                                <li> Hochdruckreiniger</li>
                                <li> Batterieladegerät</li>
                                <li> 2x Lötpistolen</li>
                                <li> Endoskopkamera</li>
                                <li> Hohlraumsonden</li>
                                <li> Schraubzwingen</li>
                                <li> Presse</li>
                                <li> Rangierhilfen</li>
                                <li> Drehmomentschlüssel</li>
                                <li> Drehwinkelschließer</li>
                                <li> Bremsflüssigkeitsprüfgerät</li>
                                <li> Bremsenrückstellwerkzeug</li>
                                <li> Bremsenwerkzeug</li>
                                <li> Motorhalter</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="accordion">Lageplan</button>
                <div class="panel">
                    <div class="accordionContent contentCenter">
                        <img src="img/lageplan-stuttkarre.svg" class="img-responsive lageplan" alt="Lageplan Stuttkarre">
                    </div>
                </div>
            </div>
        </div>
    </section>