<!-- Team Section -->
    <section id="team" class="bg-darkest-gray">
        <div class="container">

            <div class="row-team">
                <div class="col-md-6">
                    <img src="img/team/stuttkarre-team.jpg" class="img-responsive" alt="Das Team">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading">Wer sind wir?</h2>
                    <p>
                        Ich bin Max, Oldtimer-Liebhaber und leidenschaftlicher Schrauber. Im Jahr 2016 habe ich gemeinsam mit Freund:innen die Stuttkarre zum Leben erweckt. An alten Karren gefällt mir besonders, dass sie durch ihr Aussehen und ihre technischen Spezialitäten im Straßenverkehr auffallen. 
                        <br><br>
                        Oldtimer sind Kultur! Ihre Präsenz in der Öffentlichkeit hilft uns zu reflektieren, wie sich unsere Gesellschaft entwickelt. Wie sah das Leben aus, als unsere Vorfahren mit solchen Autos fuhren? Wie leben wir heute? Und wie wollen wir morgen leben? Ich bin davon überzeugt, dass Menschen, die sich mit Dingen aus der Vergangenheit beschäftigen, die Gegenwart besser verstehen und die Zukunft sinnvoll gestalten können. 
                        <br><br>
                        Doch allem voran schraube ich gern - besonders in einer gleichgesinnten Gemeinschaft! Unter Schraubern können wir unsere Leidenschaft teilen, uns austauschen und voneinander lernen. Dafür ist die Stuttkarre der ideale Ort! 

                    </p>
                </div>
            </div>
        </div>
    </section>