<!-- Team Section -->
    <section id="team" class="bg-darkest-gray">
        <div class="container">

            <div class="row-team">
                <div class="col-md-6">
                    <img src="img/team/stuttkarre-team.jpg" class="img-responsive" alt="Das Team">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading">Wir sind</h2>
                    <p>
                        Ich bin Max und habe 2016 mit Freund*innen die Stuttkarre zum Leben erweckt. Alte Karren sind für mich die Autos, die durch ihr Aussehen und ihre technischen Spezialitäten im Straßenverkehr auffallen, weil sie aus einer vergangenen Zeit stammen. 
                        Oldtimer sind Kultur! Durch ihre Präsenz in der Öffentlichkeit kann unsere Gesellschaft reflektieren, wie sie sich entwickelt. Wie lebten wir, als wir oder unsere Vorfahren mit solchen Autos fuhren, wie leben wir heute und wie wollen wir morgen leben? Diejenigen, die sich mit alten Dingen auseinandersetzen, und somit mit der Vergangenheit, verstehen auch das heute besser und können die Zukunft besser gestalten.
                        Vor allem aber schraube ich einfach gern! Der Vorteil an einer Schraubergemeinschaft ist, dass man vor allem auch voneinander lernen kann und außerdem ist allein schrauben ja auch langweilig!
                    </p>
                </div>
            </div>
        </div>
    </section>